# Flutter / Dart
.dart_tool/
.packages
.pub/
.pub-cache/
build/

# Android
android/.gradle/
android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS / macOS
**/ios/Pods/
**/ios/.symlinks/
**/macos/Pods/
**/macos/.symlinks/

# Flutter plugin tooling
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log

# Vendored Flutter SDK (don’t commit)
flutter_projects/flutter/
flutter_projects/flutter/**
